<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
/* Mejora para imágenes tecnológicas */
.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}
.card:hover .card-img-top {
    transform: scale(1.05);
}