<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Perfil</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <link rel="stylesheet" href="/css/AdminLogos.css">
    <link rel="stylesheet" href="/css/bootstrap-admin.css">
    <link rel="stylesheet" href="/css/templatemo-style-admin.css">
    <link rel="stylesheet" href="/css/AdminPerfil.css">
  </head>

  <body id="reportsPage" >
    <div class="" id="home">
      <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
          <a class="navbar-brand" href="/Panel_Admin">
            <h1 class="tm-site-title mb-0">Panel de administracion</h1>
          </a>

          <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <i class="fas fa-tachometer-alt"></i>
                    Panel
                  <span class="sr-only"></span>
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-file-alt"></i>
                    <span>
                      Informe <i class="fas fa-angle-down"></i>
                    </span>
                </a>
                    
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#"></a>
                  <a class="dropdown-item" href="#">Comentarios</a>
                  <a class="dropdown-item" href="#">Libro de Reclamacion</a>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/Admin_Lista_Produstos">
                  <i class="fas fa-shopping-cart"></i>
                    Productos
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/Admin_Usuarios">
                  <i class="far fa-user"></i>
                    Usuarios
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cog"></i>
                  <span>
                    Ajustes <i class="fas fa-angle-down"></i>
                  </span>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item nav-link active" href="#">Perfil</a>
                  <a class="dropdown-item" href="#">Facturación</a>
                </div>

              </li>
            </ul>
                
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link d-block" href="########">
                  <b>Cerrar sesión</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container mt-5" >
        <div class="row tm-content-row">
          <div class="tm-block-col tm-col-avatar">
            <div class="tm-bg-primary-dark tm-block tm-block-avatar">
              <h2 class="tm-block-title">Cambiar Foto</h2>
              <div class="tm-avatar-container">
                <img
                  src="img/avatar.png"
                  alt="Avatar"
                  class="tm-avatar img-fluid mb-4"
                />
                <a href="#" class="tm-avatar-delete-link">
                  <i class="far fa-trash-alt tm-product-delete-icon"></i>
                </a>
              </div>
              <button class="btn btn-primary btn-block text-uppercase">
                Subir nueva foto
              </button>
            </div>
          </div>
          <div class="tm-block-col tm-col-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
              <h2 class="tm-block-title">Configuraciones de la cuenta</h2>
              <form action="" class="tm-signup-form row">
                <div class="form-group col-lg-6">
                  <label for="email">Correo electrónico</label>
                  <input
                    id="email"
                    name="email"
                    type="email"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="password">Nueva contraseña</label>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="password2">Repite la contraseña</label>
                  <input
                    id="password2"
                    name="password2"
                    type="password"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label class="tm-hide-sm">&nbsp;</label>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block text-uppercase"
                  >
                    Actualiza tu perfil
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            &copy; <b>2023</b> TechGear. Todos los derechos reservados.
          </p>
        </div>
      </footer>
    </div>

    <script src="/JavaScript/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/JavaScript/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
  </body>
</html>
